.normaldabba{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    
}
.tedhadabba{
    display: block;
    height:45vw;
    width:100%;
    position: absolute;
    left: -15%;
    top: -15%;
    background-color: white;
	transform: rotate(-40deg);
    background-attachment: fixed;
}